$box-shadow-color: rgba(0, 0, 0, 0.2);
$black: #000;
$btn-disabled-blue: #ABD5E4;
$error-font-color-red: #F54444;
$error-red: #DF5454;
$font-gray: #C0BFBF;
$input-background: #F2F2F2;
$light-grey: lightgray;
$page-blue-background: #0CF;
$page-blue-background-light: #9BE8FC;
$page-blue-background-dark: #00ACE6;
$square-blue: #4DD2FF;
$square-blue-dark: #09F;
$square-border-gray: #999;
$square-green: #90EE90;
$square-red: #FF8080;
$white: #FFF;
