$auth-box-shadow-color: rgba(0, 0, 0, 0.2);
$error-font-color-red: #F54444;
$font-gray: #C0BFBF;
$page-blue-background: #0CF;
$page-blue-background-dark: #00ACE6;
$square-blue: #4DD2FF;
$square-blue-dark: #09F;
$square-border-gray: #999;
$square-green: #90EE90;
$square-red: #FF8080;
$white: #FFF;
