$auth-forms-width: 360px;
$square-size: 50px;
$board-container-size: 3*$square-size;
$nav-height: 70px;
$pages-margin-top: $nav-height;
$nav-logo-height: 30px;
$square-negative-margin: -1px;
$nav-page-title: 24px;
$profile-container-width: 480px;
$profile-background-height: 200px;
$profile-picture-size: 200px;
