@import url(https://fonts.googleapis.com/css?family=Poppins);
$font-family: 'Poppins', sans-serif;
$error-font-size-title: 44px;
$error-font-size-body: 30px;
$form-font-small-size: 12px;
$text-medium: 15px;
$text-big: 20px;
