@import 'variables/colors';
@import 'variables/constants';
@import 'variables/fontConfig';

.login-form {
  display: flex;
  flex-direction: column;
}

.form-button {
  background: $page-blue-background;
  color: $white;
  padding: 15px;
  text-transform: uppercase;
  transition: all 0.5s ease;

  &:hover,
  &:active,
  &:focus {
    background: $page-blue-background-dark;
    transform: scale(1.1, 1.1);
  }

  &:disabled {
    background: $btn-disabled-blue;
    cursor: no-drop;
    transform: scale(1, 1);
  }
}

.message {
  color: $font-gray;
  font-size: $form-font-small-size;
  margin: 15px 0 0;
}

.message a {
  color: $page-blue-background-dark;
  font-size: $form-font-small-size;
}

.error-message {
  color: $error-red;
  font-size: $form-font-small-size;
  margin: 10px 0;
  text-align: center;
  text-decoration: underline;
}
