{
  "presets": [
    "react-app"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@assets": "./src/app/assets",
        "@components": "./src/app/components",
        "@config": "./src/config",
        "@constants": "./src/constants",
        "@redux": "./src/redux",
        "@screens": "./src/app/screens",
        "@services": "./src/services",
        "@types": "./src/types",
        "@utils": "./src/utils/",
        "@validation": "./src/validation"
      }
    }]
  ]
}
