@import 'variables/constants';

.edit-profile-form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  max-width: $profile-container-width;
  width: 100%;
}

.edit-profile-form {
  display: flex;
  flex-direction: column;
  width: 70%;
}
