@import 'variables/colors';
@import 'variables/constants';

.page-container {
  background: $page-blue-background;
  background: linear-gradient(to left, $page-blue-background-dark, $page-blue-background);
  height: 100vh;
}

.login-page {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
