@import 'variables/colors';
@import 'variables/constants';

.page-container {
  background: $page-blue-background;
  background: linear-gradient(to left, $page-blue-background-dark, $page-blue-background);
  height: 100vh;
}

.login-page {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.login-form-container {
  background: $white;
  box-shadow: 0 0 10px 0 $box-shadow-color, 0 5px 5px 0 $box-shadow-color;
  max-width: $auth-forms-width;
  padding: 40px;
  width: 100%;
}
