@import '../../../../../../../scss/variables/colors';
@import '../../../../../../../scss/variables/constants';

.square {
  border: 1px solid $square-border-color;
  font-size: 24px;
  height: $square-size;
  margin-right: $square-margin;
  margin-top: $square-margin;
  width: $square-size;
}
