@import 'variables/colors';
@import 'variables/constants';

.profile-page {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.profile-page-container {
  background: $white;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 $box-shadow-color, 0 5px 5px 0 $box-shadow-color;
  display: flex;
  justify-content: center;
  max-width: $profile-container-width;
  padding: 40px;
  width: 100%;
}

.profile-background {
  background: url(http://www.pptbackgrounds.org/uploads/beautiful-lights-waves-powerpoint-backgrounds.jpg);
}


.profile-picture {
  border: 3px solid $page-blue-background-light;
  border-radius: 50%;
  max-height: 250px;
  max-width: 250px;
  padding: 15px;
  position: relative;
  width: 100%;
  z-index: 1;
}
