@import 'variables/colors';
@import 'variables/constants';

.profile-page {
  align-items: flex-start;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: auto;
  padding: 30px;
  width: 100%;
}

.profile-page-container {
  align-items: center;
  background: $white;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 $box-shadow-color, 0 5px 5px 0 $box-shadow-color;
  display: flex;
  flex-direction: column;
  max-width: $profile-container-width;
  position: relative;
  width: 100%;
}

.profile-background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid $semi-transparent-black-border;
  border-radius: 15px 15px 0 0;
  height: $profile-background-height;
  width: 100%;
}

.profile-picture {
  align-items: center;
  background-color: $white;
  border: 1px solid $profile-picture-border;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 $box-shadow-color;
  display: flex;
  height: $profile-picture-size;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  transform: translateY(50%);
  width: $profile-picture-size;
}

.profile-picture-img {
  height: 100%;
}

.edit-profile-btn-holder {
  align-self: flex-end;
  margin: 10px 5px 0;
}

.edit-profile-btn {
  border-radius: 50%;
}

.profile-holder {
  display: flex;
  flex-direction: column;
  margin-top: -15px+$profile-background-height/2;
  width: 100%;
}
