@import 'variables/colors';
@import 'variables/constants';
@import 'variables/fontConfig';

.loading-container-internal {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  position: relative;
}

.loading-container-external {
  @extend .loading-container-internal;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loading-external {
  height: $loading-size-external;
  margin-bottom: 15px;
  width: $loading-size-external;

  &:after {
    animation: dual-ring 1.2s linear infinite;
    border: 5px solid $white;
    border-color: $white transparent $white transparent;
    border-radius: 50%;
    content: '';
    display: block;
    height: $loading-size-external;
    width: $loading-size-external;
  }
}

.loading-internal {
  @extend .loading-external;
  height: $loading-size-internal;
  width: $loading-size-internal;

  &:after {
    border-color: $page-blue-background-dark transparent $page-blue-background-dark transparent;
    height: $loading-size-internal;
    width: $loading-size-internal;
  }
}

@keyframes dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-text-external {
  color: $white;
  font-size: $text-big;
}

.loading-text-internal {
  color: $page-blue-background-dark;
  font-size: $text-medium;
}
