@import 'colors';
@import 'variables';

.footer {
  align-items: center;
  background-color: $blue;
  display: flex;
  flex-direction: column;
}

.footer-big-text {
  color: $white;
  font-size: $text-big;
  font-weight: 100;
  margin: 40px 0 10px;
}

.text-copyright {
  align-self: flex-end;
  color: $white;
  font-size: $text-small;
  font-weight: 100;
  margin: 20px 30px;
}


@media only screen and (max-width: 1024px) {
  .text-copyright {
    align-self: center;
    margin: 50px 0;
  }

  .footer-img {
    height: 70px;
    object-fit: contain;
    width: 330px;
  }

  .footer-big-text {
    font-size: 20px;
    margin: 50px 0 0;
  }
}
