.card-container {
  margin: 120px 0;
}

.techs-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 30px 200px;
}

@media only screen and (max-width: 1024px) {
  .techs-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
