@import 'variables';

.navbar {
  background-color: white;
  box-shadow: 0 5px 10px $light-grey;
  display: flex;
  height: $nav-height;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.logo-img {
  height: $nav-logo-height;
}

.page-title {
  align-self: center;
  font-size: $text-big;
}

@media only screen and (max-width: 1024px) {
  .page-title {
    display: none;
  }
}
