@import 'variables';
@import 'margins';

$border-radius: 5px;
$position: -30px;
$tech-image-size: 180px;
$tech-width: 280px;

.tech-box {
  background-color: $green;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  position: relative;
  width: $tech-width;
  
  &::before {
    border: 1px solid #BED23C;
    border-radius: $border-radius;
    content: '';
    height: 100%;
    left: $position;
    margin: 15px 15px;
    position: absolute;
    top: $position;
    width: $tech-width;
    z-index: -1;
  }
}

.tech-image{
  align-self: center;
  height: $tech-image-size; 
  padding-top: 20px;
  width: $tech-image-size;
}

.tech-info {
  margin: 20px 0 40px 0;
  padding: 0 40px;
}

.text-center {
  display: block;
  text-align: center;
}

.title-medium ,
.title-medium-bold {
  font-size: $text-medium;
}

.title-medium-bold {
  font-weight: bold;
}
