$font-family: 'Roboto', sans-serif;
$nav-height: 70px;
$nav-logo-height: 30px;
$tech-border-radius: 5px;
$tech-height: 390px;
$tech-image-size: 140px;
$tech-transition: top 0.2s linear, left 0.2s linear;
$tech-width: 270px;
$text-big: 24px;
$text-medium: 16px;
$text-small: 12px;
$title-decoration-height: 90px;
$title-decoration-width: 70px;
