$font-family: 'Roboto', sans-serif;
$nav-height: 70px;
$nav-logo-height: 30px;
$tech-image-size: 120px;
$tech-width: 270px;
$text-big: 24px;
$text-medium: 16px;
$text-small: 12px;
$title-decoration-height: 90px;
$title-decoration-width: 70px;
