$font-family: 'Roboto', sans-serif;
$nav-height: 70px;
$nav-logo-height: 30px;
$tech-logo-size: 100px;
$tech-height: 390px;
$tech-width: 270px;
$tech-border-radius: 5px;
$tech-image-size: 180px;
$tech-back-position: -30px;
$text-big: 24px;
$text-medium: 16px;
$text-small: 12px;
$title-decoration-height: 90px;
$title-decoration-width: 70px;
