@import 'variables/colors';
@import 'variables/constants';

.profile-info-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main-info {
  color: $page-blue-background-dark;
  font-size: 25px;
  text-align: center;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  padding: 0 30px;
  width: 100%;

  .about-me-title {
    align-self: center;
    display: block;
    font-size: 18px;
    text-decoration: underline;
  }

  .about-me-content {
    align-self: flex-start;
    color: $black;
    font-size: 15px;
    text-align: justify;
  }
}

.profile-background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid $semi-transparent-black-border;
  border-radius: 15px 15px 0 0;
  height: $profile-background-height;
  width: 100%;
}

.profile-picture {
  align-items: center;
  background-color: $white;
  border: 1px solid $profile-picture-border;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 $box-shadow-color;
  display: flex;
  height: $profile-picture-size;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  transform: translateY(50%);
  width: $profile-picture-size;
}

.profile-picture-img {
  height: 100%;
}

.edit-profile-btn-holder {
  align-self: flex-end;
  margin: 10px 5px 0;
}

.edit-profile-btn {
  border-radius: 50%;
}

.profile-holder {
  display: flex;
  flex-direction: column;
  margin-top: -15px+$profile-background-height/2;
  width: 100%;
}
