@import 'equalizer';
@import 'variables/fontConfig';
@import 'variables/colors';
@import url(https://use.fontawesome.com/releases/v5.4.1/css/all.css);

#root {
  background: linear-gradient(to left, $page-blue-background-dark, $page-blue-background);
  background: $page-blue-background;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

* {
  font-family: $font-family;
}
